// .banner-interno__fondo
//   background-image: url("../assets/curso/portada/fondo-banner-principalt.png") !important

.index-dos
  position: relative
  z-index: 2

//introduccion
.intro-img
  background-image: url("../assets/curso/intro/intro-img-01.svg")
  background-size: cover

.crd-paleWhite
  background-color: #ffffffe5
  position: relative
  left: -70px
  @media (max-width: 500px)
    left: 3px

.intro-decorativa-01
  position: absolute
  left: 66.3%
  width: 36%
  top: 5%
  @media (max-width: 500px)
    top: 5%

//tema1
.tema1-img-decorativa-01
  position: absolute
  top: 3%
  left: 75%
  width: 26%

.tema1-img-decorativa-02
  position: absolute
  top: 20%
  left: 92%
  width: 12%
  z-index: 3

.tema1-img-decorativa-03
  position: absolute
  top: 11%
  left: 93%
  width: 12%
  z-index: 1

.tema1-img-decorativa-04
  position: absolute
  top: 19%
  left: -3%
  width: 10%

.tema1-img-decorativa-05
  position: absolute
  top: -2%
  left: -3%
  width: 27%
  z-index: 2
  @media (max-width: 500px)
    top: 27.4%
    left: -2%
    width: 70%

.color--secundario
  background-color: #D0E8FD

.tabsA-01
  .tabs-a__tab
    width: 146%
    background-color: #E8E8E8
    @media (max-width: 500px)
      width: 100%

  .tabs-a__content-item
    position: relative
    width: 89%
    left: 63px
  .tarjeta
    border-radius: 10px

.lineaTiempo-01
  .linea-tiempo-d__item__number
    background-color: #FD9927
  .linea-tiempo-d__item__content
    background-color: $white
  .linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
    background-color: #FECC93
  .linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content
    background-color: #FFF7E0
  .linea-tiempo-d__item__dots
    color: #FEE5C8
  .linea-tiempo-d__item__dots:after
    border-left: 5px dotted #FEE5C8

.lineaTiempo-02
  .linea-tiempo-d__item__number
    background-color: #FD9927
  .linea-tiempo-d__item__content
    background-color: $white
  .linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
    background-color: #FECC93
  .linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content
    background-color: #FFF7E0
  .linea-tiempo-d__item__dots
    color: #FEE5C8
  .linea-tiempo-d__item__dots:after
    border-left: 5px dotted #FEE5C8

.bloque-img1
  width: 35%
  @media (max-width: 500px)
    width: 100%

.bloque-txt-1
  position: relative
  left: -57px
  width: 65%

.lista-margin
  position: relative
  top: -9px

.slyderA-01
  .fas.fa-check
    color: #3BC192
  .slyder-a__bullets__item--active
    background-color: #CA7A1F !important
    border-color: #CA7A1F!important
  .slyder-a__bullets__item
    background-color: #FEDBB3
    border-color: #FEDBB3

.color-secundario-r
  background-color: #3E79A9

.tema1-img-17
  position: absolute
  width: 23%
  left: 74%
  @media (max-width: 500px)
    position: relative
    width: 100%
    left: 4px
    top: -32px

.tam-texto
  position: relative
  width: 80%
  left: -69px

.crd-white
  background-color: $white
  @media (max-width: 500px)
    position: relative
    left: 63px

.tabsC-01
  .tabs-c.color-primario .tabs-c__tab--active
    border-bottom-color: #FD9927 !important
  .tabs-c.color-primario .tabs-c__tab--active:before
    border-top-color: #FD9927 !important

//tema2
.slyderA-02
  .slyder-a__bullets__item--active
    background-color: #CA7A1F !important
    border-color: #CA7A1F!important
  .slyder-a__bullets__item
    background-color: #FEDBB3
    border-color: #FEDBB3

.cajon.color-secundario
  background-color: #d3e8f8

.tarjeta-avatar .tarjeta
  width: 100%

.color-check-verde
  .fas.fa-check
    color: #3BC192

.margin-left-h4-avatar
  margin-left: 50px

.margin-left-ul-avatar
  margin-left: 100px

.bloque-texto-t2
  .color-secundario-r
    position: relative
    width: 80%
    left: 185px
    @media (max-width: 500px)
      width: 100%
      left: 25px
  .tam-texto
    position: relative
    width: 80%
    left: 10px
  .crd-white
    @media (max-width: 500px)
      left: 0px

.tema2-img-09
  position: absolute
  width: 25.5%
  left: 5%
  z-index: 2
  @media (max-width: 500px)
    position: relative
    width: 100%
    top: 26px

.numeros-listado
  @media (max-width: 500px)
    width: 25%
    position: relative
    left: 35%

.lista-margin2
  position: relative
  top: -68px
  @media (max-width: 500px)
    top: -30px

.tabsA-02
  .tabs-a__tab
    background-color: #E8E8E8

  .tarjeta
    border-radius: 10px
  .color--secundario
    background-color: $white
    border: 1px solid #FD9927

.tema2-img-15
  position: relative
  left: -50px

.bloque-txt-t2
  right: 34%
  background-color: #ffffffe5
  width: 64%
  @media (max-width: 500px)
    right: 13%
    width: 75%

.bloque-img-t2
  left: 63%
  width: 37%
  @media (max-width: 500px)
    left: 0%
    width: 100%

.margin-left-ul
  margin-left: 300px
  @media (max-width: 500px)
    margin-left: 0px

.tema2-img-decorativa-01
  position: absolute
  top: 41%
  left: 71%
  width: 26%
  @media (max-width: 500px)
    top: 30.3%
    left: 6%
    width: 87%

.tema2-img-decorativa-02
  position: absolute
  top: 41%
  left: -6%
  width: 12%
  z-index: 1
  @media (max-width: 500px)
    top: 27.5%
    width: 20%

.tema2-img-decorativa-03
  position: absolute
  top: 48.5%
  left: 92%
  width: 12%
  @media (max-width: 500px)
    top: 33%
    left: 89%
    width: 17%

.tema2-img-decorativa-04
  position: absolute
  top: 68.5%
  left: -3%
  width: 10%
  z-index: 1
  @media (max-width: 500px)
    top: 57.5%
    left: -6%
    width: 18%

.tema2-img-decorativa-05
  position: absolute
  top: 73%
  left: 88%
  width: 32%
  @media (max-width: 500px)
    top: 66%

.tema2-img-decorativa-06
  position: absolute
  top: 87.6%
  left: -2%
  width: 11%
  z-index: 1
  @media (max-width: 500px)
    top: 84.6%
    left: -18%
    width: 31%

.tema2-img-decorativa-07
  position: absolute
  top: 92.6%
  left: 90%
  width: 17%
  @media (max-width: 500px)
    left: 93%
    width: 15%

//tema3
.crd-paleYellow
  background-color: #FFF7DD

.color-vineta
  background-color: #FD9927

.tema3-img-decorativa-01
  position: absolute
  top: 40%
  left: 65%
  width: 37%
  @media (max-width: 500px)
    top: 54%
    left: 36%
    width: 70%

.tema3-img-decorativa-02
  position: absolute
  top: 54%
  left: -14%
  width: 40%
  @media (max-width: 500px)
    top: 61%
    left: -30%
    width: 77%

.tema3-img-decorativa-03
  position: absolute
  top: 93%
  left: 28%
  width: 35%
  @media (max-width: 500px)
    top: 90.5%
    left: 6%
    width: 90%

.tema3-img-decorativa-04
  position: absolute
  top: 91%
  left: -2%
  width: 36%
  @media (max-width: 500px)
    top: 98.3%
    left: 1%
    width: 50%

//tema4
.lista-ol2
  .lista-ol--cuadro__vineta
    height: 100px
    @media (max-width: 500px)
      height: 215px
  .li-azul
    background-color: #F3F9FF

.tema4-img-02
  position: absolute
  width: 23%
  left: 74%
  top: 34px
  @media (max-width: 500px)
    width: 100%
    left: 0px
    top: -25px

.tam-row4
  height: 285px
  @media (max-width: 500px)
    height: 720px
  .tam-texto
    top: 27px

.margin-left-ul-li
  margin-left: 165px
  @media (max-width: 500px)
    margin-left: 0px

.background-1
  position: relative
  background-size: cover
  background-image: url("../assets/curso/temas/tema4/tema4-img-05.png")
  width: 100%
  background-position: left top
  background-repeat: no-repeat
  height: 375px
  @media (max-width: 500px)
    width: 108%
    height: 100px

.clr-yellow
  background-color: #FAF0D0
  position: relative
  width: 90%
  top: 290px
  left: 5%
  max-height: 180px
  border-radius: 12px

  @media (max-width: 500px)
    width: 85%
    top: 87px
    left: 28px
    height: 453px

.margin-top-h5
  margin-top: 6rem!important
  @media (max-width: 500px)
    margin-top: 28rem!important

.tarjeta-t4-1
  height: 360px

.tarjeta-t4-4
  height: 375px

.avatar-01
  .tarjeta-avatar
    padding-top: 25px

.tema4-img-decorativa-01
  position: absolute
  top: 47%
  left: 73%
  width: 28%
  @media (max-width: 500px)
    top: 51%
    left: 62%
    width: 45%

.tema4-img-decorativa-02
  position: absolute
  top: 76%
  left: -4%
  width: 13%
  @media (max-width: 500px)
    top: 71.1%
    left: -12%
    width: 23%

.tema4-img-decorativa-03
  position: absolute
  top: 89%
  left: 87%
  width: 17%
  @media (max-width: 500px)
    top: 94%
    left: 87%
    width: 25%

.cac
  color: $color-acento-contenido !important
